.body{
    scroll-behavior: smooth;
}
.show-navbar__menu{
    height: 7.5rem;
}

.footer{
    background-color: rgba(172, 172, 8, 0.301);
    
}



@media (min-width: 1024px){
    .top-navbar {
        display: inline-flex !important;
    }
}